
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 215 60% 18%;
    --foreground: 210 40% 98%;

    --card: 217 60% 12%;
    --card-foreground: 210 40% 98%;

    --popover: 217 60% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 185 92% 49%;
    --primary-foreground: 217 60% 12%;

    --secondary: 215 40% 24%;
    --secondary-foreground: 210 40% 98%;

    --muted: 215 40% 24%;
    --muted-foreground: 215 20% 75%;

    --accent: 215 40% 24%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 40% 24%;
    --input: 215 40% 24%;
    --ring: 185 92% 49%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
